<article class="post">
  <div class="title">
    <h4>{{title}}</h4>
  </div>
  <div class="content">
    <p {{#if truncate}} class="truncate" {{/if}}>{{{truncate_html content}}}</p>
  </div>
  <div class="font-italic">
    by <span class="font-weight-bold">{{user.username}}</span> on {{created_at}}
    |
    <a href="/post/{{id}}" class="text-primary">{{comments.length}} {{format_plural "comment 300" comments.length}}</a>
  </div>
</article>
<hr />